.DS_Store
DerivedData/
Bugs.xcodeproj/project.xcworkspace/xcuserdata/yvonne.chen1.xcuserdatad/UserInterfaceState.xcuserstate
Bugs.xcodeproj/xcuserdata/yvonne.chen1.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Bugs.xcodeproj/xcuserdata/yvonne.chen1.xcuserdatad/xcschemes/Bugs.xcscheme

